.boxes{
    height: 80%;
}
.boxes__box{
    float: left;
    width: 49%;
    height: 100%;
    border-radius: 6px;
}
.boxes__box h1{
    background-color: #f9e374;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
.boxes__box__info{
    width: 90%;
    background-color: white;
    border-radius: 6px;
}

.__info__container{
    display: block;
    width: 100%;
    margin: 20px 0;
    height: 10%;
    border-radius: 6px;
}
.__info__container__preview{
    padding: 10px;
    display: flex;
}
.__info__container__preview p{
    width: 80%;
    margin: auto 0;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.__info__container__preview i{
    margin: auto;
}
.__info__container__form {
    padding: 10px; 
}
.__info__container__form__section{
    margin: 40px 0 0 0;
}
.__info__container__form__section img{
    width: 100%;
}
