.boxes__box{
    width: 100%;
    border-radius: 6px;
    margin: 0 0 50px 0;
}
.boxes__box h1{
    background-color: #f9e374;
    text-align: center;
    font-size: 25px;
    margin: 1px;
    padding: 10px;
}
.boxes__box__info{
    width: 100%;
    background-color: white;
    border-radius: 6px;
    margin-top: 10px;
}
.__info__container{
    padding: 10px;
    display: none;
}
.__info__header{
    display: flex;
    padding: 20px;
}
.__info__header p{
    width: 99%;
}
.__info__container__section{
    display: flex;
    padding: 20px;
}
.__info__container__section img{
}
.__info__container__section h2{
    width: 50%;
    text-align: left;
}
.__info__container__section p{
    width: 50%;
    text-align: right;
}
.__info__container__section button{
    width: 100%;
    padding: 10px;
}
.__info__container__section input{
    float: right;
    text-align: right;
}
@media screen and (min-width: 900px) {
    .boxes__box{
        float: left;
        width: 50%;
    }
    .boxes__box__info{
        width: 90%
    }
}