.login{
    display: flex;
    height: 80%;
    margin: auto;
}
.login__container{
    width: 50%;
    height: 80%;
    margin: auto;
}
.login__container h1 {
    width: 100%;
    stroke: black;
    height: 10%;
    text-align: center;
    font-size: 25px;
    color: white;
}

.login__container p{
    color: white;
    margin: 20px 0;
}

.login__container__form{
    width: 80%;
    margin: auto;  
    position: relative;
}
.login__container__form input{
    width: 100%;
    height: 25px;
}
.login__container__form button{
    margin: 40px auto;
    display: block;
}
.error{
    width: 100%;
    text-align: center;
}
